<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enumerate.disease_detection.Mapper.DiseaseRecordMapper">

    <select id="getDiseaseRecord" resultType="com.enumerate.disease_detection.POJO.VO.DiseaseRecordVO">
        SELECT
        illness_type AS name,
        COUNT(*) AS value
        FROM agri_ai_system.disease_record
        WHERE `user_id` = #{user_id}
        GROUP BY illness_type
        ORDER BY value DESC
        LIMIT 5
    </select>
</mapper>